{% extends 'home.html' %}

{% block content %}


{% comment %}<div class="container text-center" style="margin-top: 20px;">
     <div class="list-group col-lg-10 list_line">
            {% for li in history %}
          <li  class="list-group-item   align-items-start">
            <div class="d-flex w-100 justify-content-between">

                    <h5 class="mb-1">{{ li.host_script }}</h5>

                    <b>User: {{ li.active_user}}</b>
                    <b>Date: {{ li.run_time }}</b>
                    <b>Status: {{ li.status }}</b>

            </div>
              <hr>

              <p class="mb-1">{{ li.console_output}}</p>

          </li>
        {% endfor %}

     </div>
</div>{% endcomment %}
{% endblock %}