
{% extends 'home.html' %}

{% block content %}
        <h1></h1>
    <div class="container form_line card-body">
                <form method="post" id="script_form" >
                {% csrf_token %}
                        <div class="row justify-content-between">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="" style="display:none;">
                                        {{ form.create_date }}

                                    </div>
                                    {{ form.creator }}
                                    <label>Script name:</label>
                                    <div class="form-wrap" >
                                        {{ form.script_name }}
                                    </div>


                            {% comment %}    <label for=script_name">Script name</label>{% endcomment %}
                                {% comment %}<input type="text" class="form-control" id="script_name" placeholder="Example script" name="script_name">{% endcomment %}
                                {% comment %}<input type="date" class="form-control" id="create_date"  name="create_date" value="{{ date }}" style="display: none;">{% endcomment %}
                            </div>
                            </div>


                           {% comment %} <label for="creator">Select you'r profile </label>{% endcomment %}
                            {% comment %}<select id="creator">
                                        <p>{% for name in user %}
                                        <option value={{ name }}>{{ name }}</option>
                                        {% endfor %}
                                            <option name="creator" value="{{ user }}">{{ user }}</option>
                                        </p>
                            </select>{% endcomment %}


                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label>Script text:</label>
                                <div class="form-group">

                                    {{ form.script }}


                                </div>
                            </div>

                        </div>
                        <div class="row text-center">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-success" >Create</button>
                            </div>
                        </div>

                </form>
    </div>




{% comment %}    <script>
    function valid(form) {
        var fail = false
        var script_name = form.script_name.value;
        var script = form.script.value;

        if(script_name=="")
            fail = 'Please input your script name.';
            alert(fail);
        if(fail== false)
            $('#success').modal('show');




    }
    </script>{% endcomment %}
{% endblock %}